streamlit
pytesseract
pdfplumber
PyMuPDF
docx2txt
spacy
phonenumbers
nltk
email-validator
openpyxl
regex
dateparser
python-docx
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
